---
import { loadFAQs } from "../loaders/loadFAQs"
import Layout from "../layouts/Layout.astro"
const FAQs = await loadFAQs()
---

<Layout>
		<h1>Astro</h1>
		{ FAQs.map((faq) => <div>{ `Question: ${faq.question} Answer: ${faq.answer}` }</div> ) }
</Layout>
