---
import { YouTube } from "astro-embed"
import { loadFAQs } from "../loaders"
import Layout from "../layouts/Layout.astro"
const FAQs = await loadFAQs()
---

<Layout>
	<main class="max-w-6xl mx-auto">
		<h1 >Astro</h1>
		{ FAQs.map((faq) => <div>{ `Question: ${faq.question} Answer: ${faq.answer}` }</div> ) }
		<YouTube id="https://youtu.be/6RzUmbe-hk0" />
	</main>
</Layout>
