
<header class="w-screen p-6 bg-orange-200">
	<nav class="">
		<ul class="flex justify-center gap-5">
			<li><a href="/about-us">About Us</a></li>
			<li><a href="/services">Our Services</a></li>
			<li><a href="/resources">Resources</a></li>
			<li><a href="/events">Events</a></li>
			<li><a href="/faq">FAQs</a></li>
		</ul>
	</nav>
</header>
